

#numberGuess {
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 640px;
    margin: 0 auto;
}

.guess-title {
    text-align: center;
    grid-column: span 8;
    background-color: #ddd;
    margin: 0;
}

.guess-level {
    grid-column: span 3;
    background-color: #ccc;
}

.guess-bet {
    grid-column: span 3;
    background-color: #666;
    color: #fff;
}

.guess-bet input {
    width: 100%;
    box-sizing: border-box;
}

.guess-check {
    grid-column: span 1;
    background-color: #bbb;
}

.guess-history {
    grid-row: 2 / span 3;
    background-color: #aaa;
}

.guess-counter {
    grid-column: span 6;
    background-color: #999;
    color: #fff;
}

.guess-help {
    grid-row: span 2;
    background-color: #888;
    color: #fff;
}
.guess-help *:not(.active) {
    display: none;
}

.guess-result {
    grid-column: span 6;
    background-color: #777;
    color: #fff;
}
.guess-result .counter:not(.active),
.guess-result .reset:not(.active),
.guess-result .result > *:not(.active) {
    display: none;
}